.box {
  width: 42rem;
  overflow: auto;
  scrollbar-color: #222;
  max-height: 15rem;
  min-height: 15rem;
  padding: 1rem;
  overflow-x: hidden;
  --moz-scrollbar-color: red;
  scrollbar-width: thin;  
  scrollbar-color: #222d #2224;   
}
´
 ::-webkit-scrollbar{
   width: 12px;
 }
::-webkit-scrollbar-track {
  background: #2224;
}
::-webkit-scrollbar-thumb {
  background-color: #222d;
  border-radius: 20px;
  border: 3px solid #2224;
}
.rivitbox {
  margin-left: 3.5rem;
  font-size: 1rem;
  padding: 0.2rem;
  width: 30rem;
  color: #777;
  text-align: left;
}
.tyyppi {
  float: left;
  color: #777;
  min-width: 6rem;
  max-width: 6rem;
}
.tyyppi_tehot {
  float: left;
  min-width: 1rem;
  max-width: 1rem;
}
.tyyppi_info {
  float: left;
  min-width: 2rem;
  max-width: 2rem;
  margin-right: 2rem;
  text-align: center;
}

.tyyppi_pvm {
  float: left;
  min-width: 6rem;
  max-width: 6rem;
  margin-right: 2.5rem;
  text-align: center;
}
/*@media screen and   (700px){
.tyyppi_info{
    min-width: 90%;
    max-width: 90%;
}

.tyyppi{
    width: 100%;
}

.rivitbox{
    width: 100%;
}
}
*/
