

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
body{ 
  background-image: url('bg.png');
  
}

.App {
  margin-left: 0vh;
  margin-top: -5vh;
  margin-bottom: 0vh;
  background-image: url('bg.png');
  min-width: 100vw;
  opacity: 0.1;
}
h1{
  color: red;
  text-align:center;
  margin-top: -2rem;
  text-shadow: -3px 0px  orange, 1px 0 #ddd, 0 3px lightblue;
  font-size: 3rem;
  font-family: 'Orbitron', sans-serif;
  transform: rotate(-0.2deg);
  padding: 5vh;
}

h4{
  text-align: center;
  color: rgba(00,0,0,0.8);
  margin-top: -10vh;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 1px 1px  1px rgba(200,200,200,0.9);
  margin-bottom: 5vh;
}
#spanni{
  font-size: 3rem;
  padding-left: 0.4rem;
  padding-right: 0.5rem;
  font-weight: 700;
  margin-bottom: -5rem;
  color: red;
}

.wrap{
  min-width: 30rem;
  max-width: 30rem;
  max-height: 50vh;
  padding: 1rem;
  margin: 0 auto;
  font-size: 2vh;
  font-family: monospace, 'Orbitron', sans-serif;    
}




@media only screen and (min-width: 1900px) {

 html, body{
   font-size: 20px;
 }
}

@media only screen and (min-width: 4000px) {

  html, body{
    font-size: 36px;
  }
 }
 